body {
    margin: 0;
    padding: 0;
    background-color: #A8E7E9;
}
.hero {
    background: linear-gradient(#b1fffc80,#A8E7E9) ,url(./hero3web.jpg);
    height: 88vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center;
    
}
.text-box {
    color: black;
    text-align: left;
    padding-top: 10%;
    padding-left: 10%;
    /* border: 2px solid black; */
    display: inline-block;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 300%;
}
p {
    font-size: 150%;
}
.plans {
    
    color: white;
    text-align: center;
    
}
.see2 {
    
    border: 2px solid white;
    display: inline-block;
    padding: 2%;
    border-radius: 20px;
    background-color: black;
    color: white;

    
}
.see {
    border: 2px solid white;
    display: inline-block;
    padding: 2%;
    border-radius: 20px;
    background-color: white;
    color: black;
    position: relative;
    right: 30px;
}
.see:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}
.flex-grid {
    display: flex;
    padding: 50px 200px;
    background-color: #A8E7E9;
  }
  .col {
    flex: 1;
    text-align: center;
  }
  .client {
      display: block;
      text-align: center;
      position: relative;
      
      text-transform: uppercase;
  }
  .test-img {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
  }
  .testimonial-1 {
      width: 300px;
  }
 
  header {
      margin: 0;
  }
.sites {
      display: flex;
  }
.site1 {
   flex-basis: 50%;
   height: 50vh;
   background: url(./shotlove1.png);
   background-size: contain;
   background-repeat: no-repeat;
  }
.site2 {
    flex-basis: 50%; 
    height: 50vh; 
   background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    
}
.site3 {
    flex-basis: 50%; 
    height: 50vh;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    
}
.site4 {
    flex-basis: 50%;  
    height: 50vh;
    background: url(./valentineshot.png);
    background-size: contain;
    background-repeat: no-repeat;
}
